{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Enlaces a Bootstrap y otros estilos comunes -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Otros enlaces y metadatos del head -->
</head>

<body style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
            background-size: 100% 100vh;">
    <!-- Establece el color de fondo aquí -->
    <!-- Contenido de la plantilla -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Tienda Pedidos</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'pedido_new' %}" class="nav-link active" aria-current="page">Crear Pedido</a></li>
            <li class="nav-item"><a href="{% url 'cliente_new' %}" class="nav-link">Registrar Cliente</a></li>
            <li class="nav-item"><a href="{% url 'cliente_list' %}" class="nav-link">Ver Clientes</a></li>
            <li class="nav-item"><a href="{% url 'producto_list' %}" class="nav-link">Productos</a></li>
            <li class="nav-item"><a href="{% url 'producto_new' %}" class="nav-link">Agregar Producto</a></li>
          </ul>
        </header>
      </div>
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    
</body>

</html>